[submodule "firstLabRPC/first"]
	path = firstLabRPC/first
	url = https://github.com/N1kla3/RPCLibrary.git
[submodule "firstLabRPC/second"]
	path = firstLabRPC/second
	url = https://github.com/N1kla3/RPCLibrary.git
